@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap');

:root {
    --bar-color: rgba(68, 68, 68, 0.87);
}

/* * {
    border: 2px red solid;
} */

body {
    background: #11181a;
    color: white;
    user-select: none; 
    /* NÃO PODE HIGHLIGHTAR NADA */
    font-family: 'Architects Daughter';
    text-shadow: 3px 3px 0.2px #000;
}

h3 {
    font-style: italic;
    font-weight: 800;
    text-shadow: 2px 2px 0px rgb(0, 0, 0);
}

span {
    font-size: 11.3px;
    font-style: italic;
}

.bar {
    display: flex;
    justify-content: space-around;
    padding-left: 0px;
    padding-right: 0px;
    align-items: center;
    height: 10vh;
    width: 100%;
    background: var(--bar-color);
    border-top-left-radius: 14px;
    border-top-right-radius: 14px;
    border-bottom-right-radius: 14px;
}

.time-area {
    width: 160px;
    text-align: center;
}

.money-area {
    width: 240px;
    text-align: center;
}

@keyframes transform {
    0% {font-size: 2em; color: #fff;}
    50% {font-size: 2.5em; color: rgb(13, 168, 26)}
    0% {font-size: 2em; color: #fff;}
}

.lower-bar {
    display: flex;
    justify-content: start;
}

.klicks-bar, .klicks-per-sec-bar {
    display: flex;
    justify-content: center;
    padding-left: 0px;
    padding-right: 0px;
    align-items: center;
    height: 9.2vh;
    width: 19%;
    background: var(--bar-color);
}

.klicks-bar {border-radius: 0 0 14px 14px;}
.klicks-per-sec-bar {border-bottom-right-radius: 14px;}

.configs {
    width: 4.03%;
    height: 8.7vh;
    filter: grayscale(40%);
}

.configs:hover {
    cursor: pointer;
    filter: grayscale(0%);
    animation: slide 2s;
}

@keyframes slide {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.configs-window {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    justify-content: space-between;
    padding-left: 28px;
    padding-right: 28px;
    padding-bottom: 10px;
    align-items: center;
    height: 120px;
    width: 20%;
    background: var(--bar-color);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    margin-right: 40px;
    position: absolute;
    right: 21px;
}

.music-text {
    grid-column: 2/4;
    grid-row: 1/2;
}

.bg-color-text {
    grid-column: 2/4;
    grid-row: 2/3
}

#bg-music-box {
    grid-column: 1/3;
    grid-row: 1/2;
    background-color: #2fce3c;
    cursor: pointer;
    width: 34px;
    height: 47.1%;
    border-radius: 4px;
    border: black 1px solid;
}

#bg-music-box-checked {
    grid-column: 1/3;
    grid-row: 1/2;
    background-color: #2fce3c;
    cursor: pointer;
    width: 34px;
    height: 47.1%;
    border-radius: 4px;
    opacity: 0;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    border: black 1px solid;
}

.chmrk-img {
    width: 90%;
    height: 90%;
    margin: 0;
    /* animation: appear 0.4s ease-in; */
}

@keyframes appear {
    0% {opacity: 0; width: 60%; height: 60%;}
    55% {opacity: 0.8; width: 160%; height: 160%; transform: rotate(-12deg);}
    100% {opacity: 1; width: 90%; height: 90%;} 
}

#bg-color {
    grid-column: 1/2;
    grid-row: 2/3;
}

.container-bgcolors {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 3.5px;
    width: 70px;
}

#red, #dark-grey, #green, #purple, #light-grey, #orange {
    width: 17px;
    height: 17px;
    border-radius: 2px;
    border: #000 solid 0.5px;
    cursor: pointer;
}

#red {background-color: rgb(189, 12, 12);}
#dark-grey {background-color: #11181a;}
#green {background-color: #0cb91a;}
#purple {background-color: #660080;}
#light-grey {background-color: rgb(190, 190, 190);}
#orange {background-color: #ffaa00;}

.container {
    display: flex;
    justify-content: space-between;
    align-items: start;
}

.left-bar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: var(--bar-color);
    border-radius: 14px;
    width: 7%;
    height: 90px;
}

.store {
    display: flex;
    justify-content: center;
    align-items: center;
}

.store-icon {
    width: 92%;
    height: 80px;
    margin-top: 2px;
    filter: grayscale(83%);
}

.store-icon:hover {
    cursor: pointer;
    filter: grayscale(0%);
    width: 95%;
    height: 90px;
    margin-top: 0;
}


.right-bar {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: var(--bar-color);
    border-radius: 14px;
    width: 7%;
    height: 300px;
}

.img-right-bar-area {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70%;
    aspect-ratio: 1/1;
}

.img-right-bar {
    border: 3px solid #000;
    width: 100%;
    aspect-ratio: 1/1;
    filter: grayscale(100%);
    /* animation: unlocking .2s ease-out; */
}

@keyframes border {
    0% {border: 3px solid #000}
    10% {border: 3px solid rgb(211, 147, 9)}
    20% {border: 3px solid #000}
    30% {border: 3px solid rgb(211, 147, 9)}
    40% {border: 3px solid #000}
    50% {border: 3px solid rgb(211, 147, 9)}
    60% {border: 3px solid #000}
    70% {border: 3px solid rgb(211, 147, 9)}
    80% {border: 3px solid #000}
    90% {border: 3px solid rgb(211, 147, 9)}
    100% {border: 3px solid #000}
}

.transparent-img {
    align-self: end;
    aspect-ratio: 1/1;
    width: 4.9%;
    background-color: #ffffff10;
    backdrop-filter: blur(3px);
    position: absolute;
    visibility: hidden; 
    border-top: 3px solid #ffffff1e;
}

/* #transparent-autoklicker {
    animation: loading-blur 20s linear;
    visibility: visible;
}  */

@keyframes loading-blur {
    /* 0% {aspect-ratio: 1/1;}
    99% {aspect-ratio: 17/1;}
    100% {aspect-ratio: 0/1;} */
    0% {aspect-ratio: 1/1;}
    48% {aspect-ratio: 2/1;}
    99% {aspect-ratio: 14/1;}
    100% {aspect-ratio: 0/1;}
}

@keyframes unlocking {
    0% {}
    100% {transform: rotate(360deg);}
}

.clickable-area {
    height: 460px;
    width: 1200px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 6px solid rgb(92, 202, 37);
    background-color: rgb(42, 90, 179);
}

.mouse-img-area {
    display: flex;
    justify-content: center;
    align-items: center;
}

.mouse {
    width: 100%;
    height: 100%;
}

#botao-magico {
    width: 20px;
    height: 20px;
    position: absolute;
    animation: movement 4s ease-in-out; 
    /* top: 50vh; */
    display: none;
    border: 3px solid;
    cursor: pointer;
}

@keyframes movement {
    0% {
        display: flex; 
        right: 0vw; 
        background-color: rgb(0, 225, 255);
        border-color: rgb(0, 113, 128);
    }
    20% {
        right: 10vw; 
        background-color: rgb(132, 0, 255);
        border-color: rgb(66, 0, 128);
    }
    40% {
        right: 30vw; 
        background-color: rgb(255, 0, 0);
        border-color: rgb(126, 0, 0);
    }
    80% {
        right: 70vw; 
        background-color: rgb(255, 230, 0);
        border-color: rgb(131, 111, 0);
    }
    99% {
        right: 100vw; 
        background-color: rgb(115, 255, 0);
        border-color: rgb(58, 129, 0);
    }
    100% {
        display: none; 
        background-color: rgb(0, 225, 255);
        border-color: rgb(0, 113, 128);
    }
}

.store-window {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 340px;
    width: 300px;
    background: var(--bar-color);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    position: absolute;
    top: 218px;
    left: 10px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-shadow: none;
}

.page-1 {
    width: 90%;
    height: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 4px solid rgba(202, 202, 202, 0.11);
    border-radius: 3px;
    /* melhorar essa borda */
}

.autoklicker-img {
    width: 90px;
    height: 90px;
    position: absolute;
    border: 6px double #000;
}

#go-to-page-2-img {
    width: 10%;
    height: 10%;
    align-self: end;
    justify-self: end;
    margin: 2px 2px 0 0;
    cursor: pointer;
}

.title {
    margin-top: 90px;
    text-align: center;
    font-size: 17px;
    margin-bottom: 0.3em;

}

.description {           
    font-weight: 500;
    text-align: center;
}

.upgrade-area {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.btn-area {
    width: 40%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-buy {
    background-color:rgba(255, 196, 0, 0.842);
    border: 2px solid rgba(158, 136, 13, 0.829);
    /* box-shadow: 1.3px 1.3px 5px rgba(0, 0, 0, 0.733); */
    color: white;
    font-weight: 600;
    /* cursor: pointer; */
    border-radius: 5px;
    width: 70px;
    filter: grayscale(60%);
}

.btn-buy:hover {
    background-color: rgba(253, 209, 63, 0.842);
}

.btn-buy:active {
    background-color:rgba(189, 148, 12, 0.74);
    box-shadow: 0 0 0;
    border-radius: 3px;
    border: 2px solid rgb(102, 88, 9);
    font-size: 12px;
}

.cost-area > p {font-weight: 600;}

.cost-area {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 4px;
}

.bottom-description {
    font-size: 13px;
    align-self: center;
    text-align: center;
}

.page-2 {
    width: 90%;
    height: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 4px solid rgba(202, 202, 202, 0.11);
    border-radius: 3px;
}

.luckyaf-img {
    width: 90px;
    height: 90px;
    position: absolute;
    border: 6px double #000;
}

.icons-area {
    justify-self: flex-start;
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#go-to-page-3-img {
    width: 10%;
    height: 95%;
    margin: 2px 2px 0 0;
    cursor: pointer;
}

#back-to-page-1-img {
    width: 10%;
    height: 95%;
    margin: 2px 0 0 2px;
    cursor: pointer;
}

.page-3 {
    width: 90%;
    height: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 4px solid rgba(202, 202, 202, 0.11);
    border-radius: 3px;
}

.goldrush-img {
    width: 90px;
    height: 90px;
    position: absolute;
    border: 6px double #000;
}

#back-to-page-2-img {
    align-self: start;
    width: 10%;
    height: 95%;
    margin: 2px 0 0 2px;
    cursor: pointer;
}

.page-1, .page-2, .page-3 {
    padding-bottom: 18px;
    /* padding-left: 4px; */
}

